<div class='container-fluid app-top-section'>
  <h1>Survey Nation</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
    <a routerLink="/survey" routerLinkActive="active">Survey</a>
    <a routerLink="/addsurvey" routerLinkActive="active">Add Survey</a>
    <a routerLink="/surveyresults" routerLinkActive="active">Survey Results</a>
  </nav>
</div>

<div class='container'>  
    <router-outlet></router-outlet>
</div>