<div class='survey-section'>

  <div class="card">
    <div class="card-header">
      Take the survey!
    </div>

    <div class="card-block">

      <div *ngIf="model">
        <form [formGroup]="surveyForm" (ngSubmit)="onFormSubmit(surveyForm)">

          <div>
            <input type="hidden" name="Id">
            <label>{{model.Survey.Name}}</label>
          </div>

          <div class='qa-set' formArrayName="QuestionAnswerSets">
            <fieldset *ngFor="let questionAnswerSet of model.QuestionAnswerSets; index as setId;" [formGroupName]="setId">


              <div formGroupName="Question">
                <div class="row">
                  <input type="hidden" name="Id" formControlName="Id">
                  <label>{{setId+1}}. </label>
                  <label>{{questionAnswerSet.Question.Value}}</label>
                </div>
                <div class="row">
                  <div *ngFor="let answer of questionAnswerSet.Answers; index as answerId;">

                    <div class="col-12 col-sm-4">

                      <label>
                        <input type="radio" formControlName="AnswerId" [name]="AnswerId" [value]="answer.Id" /> {{answer.Value}}
                      </label>

                    </div>
                  </div>

                </div>
              </div>

            </fieldset>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <button type="button" class="btn btn-primary float-right" type="submit">submit</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="model== undefined">
        <p>Loading...</p>
      </div>

    </div>
  </div>

</div>